<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nooo Gokuuu!</title>
    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    <div id="app" class="app">
      <h2>Lista de Personajes (Fetch)</h2>

      <button @click="fetchPosts" :disabled="loading">
        {{ loading ? "Cargando..." : "Cargar personajes" }}
      </button>

      <button @click="nextPage" :disabled="!links.next">Next</button>

      <button @click="prevPage" :disabled="!links.previous">Previous</button>

      <div v-if="error" class="error">{{ error }}</div>

      <div v-else-if="characters.length > 0" class="character-list">
        <div v-for="character in characters" :key="character.id" class="character-card">

          <img :src="character.image" class="character-card__image" alt="personaje" />

          <h3 class="character-card__name">
            {{ character.id }} - {{ character.name }}
          </h3>

          <label><b>Raza:</b> {{ character.race }}</label>
          <label><b>Género:</b> {{ character.gender }}</label>
          <label><b>Afiliación:</b> {{ character.affiliation }}</label>
        </div>
      </div>

      <p v-else-if="!loading">No hay personajes todavía.</p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { ref } = Vue;

      const app = {
        setup() {
          const characters = ref([]);
          const links = ref({});
          const loading = ref(false);
          const error = ref(null);

          
          async function loadPage(url) {
            loading.value = true;
            error.value = null;

            try {
              const response = await fetch(url);
              if (!response.ok) throw new Error("Error HTTP " + response.status);

              const data = await response.json();
              characters.value = data.items;
              links.value = data.links;

            } catch (err) {
              error.value = "No se pudieron cargar los personajes.";
            } finally {
              loading.value = false;
            }
          }

          
          function fetchPosts() {
            loadPage("https://dragonball-api.com/api/characters");
          }

         
          function nextPage() {
            if (links.value.next)
              loadPage(links.value.next);
          }

          
          function prevPage() {
            if (links.value.previous)
              loadPage(links.value.previous);
          }

          return { 
            characters,
            links,
            loading,
            error,
            fetchPosts,
            nextPage,
            prevPage
          };
        }
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
